
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root{

    color-scheme: light dark;

    --background-dark:#030303;
    --background-light: #E0E0E0;
    --surface: #111111;
    --on-surface: #fff;
    --accent: #00D1FF;
    --accent-variant:#00A3CC;
    --neutral-100:#ffffff;
    --neutral-900:#0A0A0A;
    --error: #ff4c4c;
    --success: #4cff8f;
    --component: #1c1917;   

  /* botones */
    --button--dark:#E0E0E0;

/* borde */
  --border-dark:#fafaf940;
    --border-light:#03030399;

      /* text-color */
    --title:#E0E0E0;
    --title-dark: #030303;
    --title-reset: #E0E0E0;
    --dark-text:#E0E0E0;
    --light-text:#030303;

    /* background dark */
    --nav--navbar:#1c1917;
    --header--section:#1c191711;
    --section--links: #1c191711;
    --section--about: #1c191711;
    --section--services: #1c191711;
    --section--projects: #1c191711;
    --section--art: #1c191711;
    --section--livecoding: #1c191711;
    --section--videoart: #1c191711;
    --section--contact: #1c191711;
    --footer--section: #1c191711;


       /* text sizes */
    --h1:3.2rem;
    --h2:2.4rem;
    --h3:1rem;
    --p:.8rem;
    --h1-desktop:4.0rem;
    --h2-desktop:3.2rem;
    --h3-desktop:2.4rem;
    --p-desktop:1.2rem;
    --rounded: .666rem;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --line-height-base: 1.6rem;
    }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: "Roboto Flex", sans-serif;
    width: 100%;
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition: background 0.1s linear;
    color: light-dark( var(--light-text), var(--dark-text));
    background-color:light-dark( var(--background-light), var(--background-dark));
}


strong{
    color: light-dark( var(--light-text), var(--dark-text));
    font-weight: 800;
}

.logo{
    width: 33%;
    height: auto;
    max-width: 240px;
    padding: 1.2rem;
}


ul{
    list-style: none;
}

p{
    font-family: "Roboto Flex", sans-serif;
}

h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.4rem;
  color: light-dark( var(--light-text), var(--dark-text));
    text-align: center;
  }
  


img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: var(--rounded);
}


button{
    color: light-dark( var(--light-text), var(--dark-text));
    border: none;
    background-color:light-dark( var(--background-light), var(--background-dark));
}

a button {
    width: 66%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: var(--p);
    font-weight: 600;
    padding: .555rem;
    justify-content: center;
    align-items: center;
    margin: .111rem auto;
    color: light-dark( var(--light-text), var(--dark-text));
    border: .01rem solid light-dark( var(--border-light), var(--border-dark));
}


a{
    font-family: "Open Sans", sans-serif;
    font-size: var(--p);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-decoration: none;
    padding: .666rem;
    align-items: center;
    justify-content: center;
    border-radius: .111rem;
    transition: .5s;
    margin: 1.5rem auto;
  color: light-dark( var(--light-text), var(--dark-text));
    border: .01rem solid light-dark( var(--border-light), var(--border-dark));
}



/* navbar */

nav button{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    padding: 1.2rem;
    justify-content:center;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color:light-dark( var(--background-light), var(--background-dark));
}


main{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


/* secciones y articulos */


/* secciones separadas y con colores */

.nav--navbar{
    background-color:light-dark( var(--background-light), var(--background-dark));
}

.header--section{
width: 100%;
height: auto;
height: 640px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
margin-top:4.8rem;
position: relative;
background-color:light-dark( var(--background-light), var(--background-dark));
}

 .header--card{
    width: 100%;
    max-width: 320px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:light-dark( var(--background-light), var(--background-dark));

}

.header--section .header--logo{
    width: 100%;
    max-width: 270px;
    height:auto;
    border-radius: 1.2rem;
}

.header--section .bg-img{
    width: 100%;
    min-width: 240px;
    height:auto;
    min-width: 1080px;
    border-radius: 0;
    opacity: .111;
}

.header--section h1{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    color: light-dark( var(--light-text), var(--dark-text));
    margin: .333rem;
}

.header--section p{
    font-size: var(--p);
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
     color: light-dark( var(--light-text), var(--dark-text));
    padding: .999rem;
    margin: .333rem;
}


.header--section a{
    width: 90%;
    height: auto;
    color:var(--p);
    border-radius: .999rem;
    margin: .666rem auto;
    padding: 1.2rem;
    background-color:light-dark( var(--background-light), var(--background-dark));
     color: light-dark( var(--light-text), var(--dark-text));
    border: .01rem solid light-dark( var(--border-light), var(--border-dark));
  }

.header--section .download--cv{
   color: light-dark( var(--light-text), var(--dark-text));
    background-color:light-dark( var(--background-light), var(--background-dark));
    border-radius: 1rem;
    width: 90%;
    height: auto;
}



.about--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color:light-dark( var(--background-light), var(--background-dark));
}

.about--card{
display: flex;
flex-direction: column;
width: 90%;
height: auto;
margin: 2.4rem auto;
padding-top: 4.8rem;
padding-bottom: 4.8rem;
padding-left: 1.2rem;
padding-right: 1.2rem;
border-radius: var(--rounded);
text-align: left;
justify-content: center;
align-items: center;
background-color:light-dark( var(--background-light), var(--background-dark));
border: .01rem solid light-dark( var(--border-light), var(--border-dark));
box-shadow: .0111rem 1rem 4.8rem oklch(10 .444 100 / 3%);
backdrop-filter: blur(32px);
}

.about--me--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: var(--rounded);
    justify-content: center;
    align-items: center;
    background-color:light-dark( var(--background-light), var(--background-dark));
    }

        .about--me--card h3{
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: var(--h3);
            color: light-dark( var(--light-text), var(--dark-text));
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            text-align: center;
        }
        
        .about--me--card p{
            font-family: "Roboto Flex", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: var(--p);
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            text-align: left;
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            color: light-dark( var(--light-text), var(--dark-text));
        }
        


.about--card h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
font-size: var(--h2);
  color: light-dark( var(--light-text), var(--dark-text));
padding-top: 1.2rem;
padding-bottom: 1.2rem;
text-align: center;
}

.about--card h3{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h3);
    color: light-dark( var(--light-text), var(--dark-text));
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
}

.about--card p{
    font-family: "Roboto Flex", sans-serif;
    font-style: normal;
    font-size: var(--p);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: left;
    color: light-dark( var(--light-text), var(--dark-text));
}

.about--card a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: .333rem;
    margin-bottom: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    background-color: var(--button);
}


.services--section{
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
background-color:light-dark( var(--background-light), var(--background-dark));
}

.services--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    text-align: center;
    border-radius: var(--rounded);
    padding:2.4rem;
    background-color:light-dark( var(--background-light), var(--background-dark));
}

.services--card h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h2);
  color: light-dark( var(--light-text), var(--dark-text));
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
    margin:0 auto;
    }
    
    .services--card h3{
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: var(--h3);
    color: light-dark( var(--light-text), var(--dark-text));
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
    }
    
    .services--card p{
        font-family: "Roboto Flex", sans-serif;
        font-weight: 400;
        font-size: var(--p);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
        color: light-dark( var(--light-text), var(--dark-text));
    }

    .services--card img{
        display: flex;
        flex-direction: column;
        width: 80%;
        height:auto;
        margin:0 auto;
        align-items: center;
        justify-content: center;
    }

.projects--section{
display:flex;
flex-direction: column;
width: 100%;
height: auto;
padding-top: 4.4rem;
padding-bottom: 4.4rem;
background-color:light-dark( var(--background-light), var(--background-dark));
}


.projects--card{
    display:flex;
    flex-direction: column;
    width: 90%;
    max-width: 480px; /* Ajusta según tus necesidades */
    height: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color:light-dark( var(--background-light), var(--background-dark));
    overflow: hidden;
    border-radius: var(--rounded);
    margin: 2.4rem auto;
border: .01rem solid light-dark( var(--border-light), var(--border-dark));
box-shadow: .0111rem 1rem 4.8rem oklch(90 .444 1000 / 10%);
backdrop-filter: blur(32px);
}
.projects--card img{
    width: 100%; /* La imagen ocupa todo el ancho de la card */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacio extra debajo de la imagen */
}


.projects--card h2{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: var(--h2);
  color: light-dark( var(--light-text), var(--dark-text));
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    text-align: center;
    margin:0 auto;
    }
    
    .projects--card h3{
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 800;
        font-size: var(--h3);
  color: light-dark( var(--light-text), var(--dark-text));
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
    }
    
    .projects--card p{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: var(--p);
    padding: 1.2rem 1.2rem;
    text-align: left;
   color: light-dark( var(--light-text), var(--dark-text));
    }

    .projects--card a{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: auto;
        max-height: 64px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
border: .01rem solid light-dark( var(--border-light), var(--border-dark));
    }
    .projects--card picture img{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }


.section--art{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
padding-top: 2.4rem;
padding-bottom: 2.4rem;
align-items: center;
justify-content: center;
    background-color:light-dark( var(--background-light), var(--background-dark));
}

.art--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border-radius: var(--rounded);
    align-items: center;
    justify-content: center;
    background-color:light-dark( var(--background-light), var(--background-dark));
  color: light-dark( var(--light-text), var(--dark-text));
}   
    .art--card h3{
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
        font-size: var(--h3);
        color: var(--title);
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        text-align: center;
        color: light-dark( var(--light-text), var(--dark-text));
    }
    
    .art--card p{
        width: 90%;
        height: auto;
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: var(--p);
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        text-align: left;
        color: light-dark( var(--light-text), var(--dark-text));
    }

    .art--card a{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin-top: .333rem;
        margin-bottom: .333rem;
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
 border: .01rem solid light-dark( var(--border-light), var(--border-dark));
    }

    .art--card img{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
        padding: .999rem;
    }


    .section--livecoding{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 1.2rem auto;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        background-color:light-dark( var(--background-light), var(--background-dark));
        align-items: center;
        justify-content: center;
        border-radius: var(--rounded);
        }
        
        .livecoding--card{
            display: flex;
            flex-direction: column;
            width: 95%;
            height: auto;
            margin: 2.4rem auto;
            border-radius: var(--rounded);
            align-items: center;
            justify-content: center;
            background-color: var(--component);
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }

        .livecoding--card h1{
            font-family: "Roboto Flex", sans-serif;
            font-weight: 600;
            font-size: var(--h1);
            color: light-dark( var(--light-text), var(--dark-text));
            padding: 1.2rem;
            text-align: center;
        }

        .livecoding--card h2{
            font-family: "Roboto Flex", sans-serif;
            font-weight: 500;
            font-size: var(--h2);
            color: light-dark( var(--light-text), var(--dark-text));
            padding: 1.2rem;
            text-align: center;
        }
        
        .livecoding--card p{
            width: 90%;
            height: auto;
            font-family: "Roboto Flex", sans-serif;
            font-weight: 400;
            font-size: var(--p);
            padding-top: .999rem;
            padding-bottom: .999rem;
            text-align: left;
            color: light-dark( var(--light-text), var(--dark-text));
        }

        .livecoding--card a{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            padding-top: .999rem;
            padding-bottom: .999rem;
            align-items: center;
            justify-content: center;
            border-radius: var(--rounded);
              color: light-dark( var(--light-text), var(--dark-text));
         border: .01rem solid light-dark( var(--border-light), var(--border-dark));
        }

        .livecoding--card .logo--clic{
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            margin: 0 auto;
            padding: 0;
        }


.livecoding--card img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: var(--rounded);
}

.section--videoart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 0;
    padding-right: 0;
    background-color:light-dark( var(--background-light), var(--background-dark));
    align-items: center;
    justify-content: center;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
}

.videoart--card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 2.4rem auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: var(--rounded);
    align-items: center;
    justify-content: center;
    background-color:light-dark( var(--background-light), var(--background-dark));
}

.videoart--card h3{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--h3);
  color: light-dark( var(--light-text), var(--dark-text));
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    text-align: center;
}

.videoart--card p{
    width: 90%;
    height: auto;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--p);
    padding-top: .333rem;
    padding-bottom: .333rem;
    text-align: left;
}

.videoart--card a{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: .333rem;
    margin-bottom: .333rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded);
border: .01rem solid light-dark( var(--border-light), var(--border-dark));
}

.videoart--card img{
display: flex;
flex-direction: column;
width: 100%;
height: auto;
margin: 0 auto;
padding-top: 1.2rem;
padding-bottom: 1.2rem;
border-radius: var(--rounded);
}


/* contact section */

.contact--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color:light-dark( var(--background-light), var(--background-dark));
    align-items: center;
    justify-content: center;
}

.contact--card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    background-color:light-dark( var(--background-light), var(--background-dark));
    align-items: center;
    justify-content: center;
}

.contact--card p{
    font-family: "Roboto Flex", sans-serif;
    font-size: var(--p);
    width: 100%;
    height: auto;
    text-align: center; 
}

.contact--card a{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 1.2rem auto;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded);
  border: .01rem solid light-dark( var(--border-light), var(--border-dark));
}




.footer--section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 6.4rem;
    padding-bottom: 7.2rem;
    position: relative;
    margin: 0 auto;
    border: none;
    background-color:light-dark( var(--background-light), var(--background-dark));
}


.footer--card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer--card p{
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
  color: light-dark( var(--light-text), var(--dark-text));
  }

  .footer--card .cv--button{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    align-items: center;
    justify-items: center;
    border-radius: 1.2rem;
  }

/* slider */

.slider--container{
width: 95%;
height: auto;
padding: 1.2rem;
border-radius: var(--rounded);
background-color:light-dark( var(--background-light), var(--background-dark));
}

.slider--card{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1024px;
    margin:0 auto;
    border-radius: var(--rounded);
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .slider--card a{
    width: 100%;
    height: auto;
    background-color:light-dark( var(--background-light), var(--background-dark));
    color: light-dark( var(--light-text), var(--dark-text));
    padding: 1rem;
    border-radius: var(--rounded);
  }

  .slider--card img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
    padding: .111rem;
    background-color: transparent;
  }



.livecoding--slider{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    border-radius: var(--rounded);
  }


/* slider */

.slider--container{
    width: 100%;
    height: auto;
    border-radius: var(--rounded);
    background-color:light-dark( var(--background-light), var(--background-dark));
    }
    
    .lc--slide{
        position: relative;
        scroll-snap-align: center;
        width: 100%;
        height: auto;
        min-width: 320px;
        margin:0 auto;
        border-radius: var(--rounded);
        background-color: transparent;
 
        /* Para que la tarjeta no crezca mas de 768px */
      }
    
      .lc--slide a{
        width: 95%;
        height: auto;
    background-color:light-dark( var(--background-light), var(--background-dark));
  color: light-dark( var(--light-text), var(--dark-text));
        padding: 1rem;
        border-radius: var(--rounded);
    border: .01rem solid light-dark( var(--border-light), var(--border-dark));
      }
    
      .lc--slide img{
        width: 100%;
        height: auto;
        margin: 1.6rem auto;
        border-radius: var(--rounded);
        background-color: transparent;
        padding: 0 .222rem;
      }
    
      .livecoding--card p{
        text-align: center;
      }

      .livecoding--card iframe{
        border:none;
        padding: .333rem;
        margin: 0 auto;
        width: 100%;
        height: 480px;
        border-radius: 1.2rem;
      }

      .livecoding--card .livecoding--clic{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 2.4rem;
     border: .01rem solid light-dark( var(--border-light), var(--border-dark));
        border-radius: 1.2rem;
      }
      .livecoding--card .livecoding--clic p{
        padding: 1.2rem;
        text-align: center;
      }


  .bivio--slider {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
  }
  
  .bivio--slide{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    margin:0 auto;
    border-radius: var(--rounded);
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .bivio--slide a{
    width: 95%;
    height: auto;
    background-color:light-dark( var(--background-light), var(--background-dark));
  color: light-dark( var(--light-text), var(--dark-text));
    padding: 1rem;
    border-radius: var(--rounded);
  }

  .bivio--slide img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
    background-color: transparent;
    padding: 0 .222rem;
  }



  .videoarte--slider{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:y proximity;
    margin: 0 auto;
    background-color: transparent;
    border-radius: var(--rounded);
  }
  
 
  .videoarte--slide{
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1024px;
    margin:0 auto;
    border-radius: var(--rounded);
    background-color: transparent;
    /* Para que la tarjeta no crezca mas de 768px */
  }

  .videoarte--slide a{
    width: 100%;
    height: auto;
    background-color:light-dark( var(--background-light), var(--background-dark));
    color: light-dark( var(--light-text), var(--dark-text));
    border-radius: var(--rounded);
  }

  .videoarte--slide img{
    width: 100%;
    height: auto;
    margin: 1.2rem auto;
    border-radius: var(--rounded);
    padding: .111rem;
    background-color: transparent;
  }


